<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        a {
            display: block;
            text-decoration: none;
            padding: 10px;
            margin: 10px;
            background-color: #3498db;
            color: #fff;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        a:hover {
            background-color: #2980b9;
        }
    </style>
</head>

<body>
    <h1>Welcome to the Admin Home Page</h1>

    <a href="/admin/products">Products</a>
    <a href="/admin/seeallusers">See All Users</a>

    <form action="/logout">
        <button type="submit">Logout</button>
    </form>
</body>

</html>